<div class="main-detail">
  <div class="image-detail-burger">
    <label  class="nomburger-detail-burger" for="">Burger Double</label>
  </div>
  <div class="text-detail-burger">
    <div class="desciption-detail-text">
        <p>
            Incontournable. Fondez pour sa sauce au goût unique,
            ses deux viandes de bœuf grillées à la flamme 
            et son fromage fondant … Un chef d’oeuvre !
        </p>
    </div>
    <div class="prix-detail-text">
        <div class="prix" >
          <label for="">Prix: 2000 FCFA</label>

        </div>
        <div class="quantite">
          <app-quantite></app-quantite>

        </div>

    </div>
  </div>

</div>