<div class="main-deatail">
  <div class="photo-detail">
   <img src="../../../assets/image/burger-regime-123rf.jpg" alt="" srcset="">
   <p>burger simple</p>
  </div>
  <div class="text-detail">
    <div class="description">
      <p>Un hamburger, ou par aphérèse burger, 
        est un sandwich d'origine allemande, 
        composé de deux pains de forme ronde généralement garnis de steak haché et de crudités, salade,
         tomate, oignon, cornichon, et de sauce… Wikipédia
      </p>
    </div>
    <div class="quantite-prix">
        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">                
          <p>Prix: 2500 FCFA</p>
         </div>
         <div class="appquantite">
          <app-quantite></app-quantite>
         </div>
    </div>

  </div>

</div>