.btn1 {
    background-color: #f00000;
    padding: 1.6em 10em;
    margin-top: 5em;
    margin-bottom: 0.8em;
    margin-left: 70em;
    font-size: 1em;

}
.complement{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.btn2 {
   margin: 1em 0 1em 2em ;
    font-size: 2em;
    width: 90%;
    background-color: black;
    /* border: 0.2em solid #f00000; */
    color:white;
}