<div class="cont">
    <div class="sidebar">
        <app-header-admin></app-header-admin>

    </div>
    <div class="lister" style="padding-top: 5em;">
        <h1 class="text-center">Les Commandes de cette Livraison</h1>
        <div class="panier" style="margin-left: 5em;">
            <table class="table table table-striped">
                <thead>
                    <tr>
                        <th>client</th>
                        <th>NUMERO COMMANDE</th>
                        <th>DATE COMMANDE</th>
                        <th>ETAT COMMANDE</th>
                        <th>MONTANT COMMANDE</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of commandeLivraison">
                        <td>{{ item.client?.id}}</td>
                        <td>{{ item.numeroCommande}}</td>
                        <td>{{item.date | date}}</td>
                        <td>{{ item.etat}}</td>
                        <td>{{item.montant }} FCFA</td>
                        <td><a href="">Detail</a></td>


                    </tr>

                </tbody>
            </table>




        </div>

    </div>

</div>