<div class="boison-detail">
   
    <div class="boison-prix-quantite">
        <div class="boison-prix">
            <p>1000 FCFA</p>

        </div>
        <div class="boison-quantite">
            <app-quantite></app-quantite>
            
        </div>

    </div>
     <div class="boison-image">

     <img src="../../../../assets/image/xx.jpeg" id="newimg" class="top" />

    </div>
    <div class="boisson-nom-ajouter">
       <div class="btn">
            <a class="btn buttonAjouter" href="#" role="button">Ajouter</a>
            <a class="btn buttonDetail" href="#" role="button">Fanta</a>
        </div>
    </div>

</div>
