<div class="boison-detail">
   
    <div class="boison-prix-quantite">
        <div class="boison-prix">
            <p>1000 FCFA</p>

        </div>
        <div class="boison-quantite">
            
        </div>

    </div>
     <div class="boison-image">

     <img src="../../../../assets/image/boisson.jpeg" id="newimg" class="top" />

    </div>
    <div class="boisson-nom-ajouter">
       <div class="btn">
             <app-quantite></app-quantite>

        
        </div>
    </div>

</div>
