.main-quantite{
    display: flex;
        box-shadow: 5px 10px white;
        ;
        margin-left: 3em;

}


.quantite1{
    /* border: 1px solid black; */
    width: 7em;
    height: 2em;
    display: flex; 

}
.variable{
    flex: 1;
  
}
.moin{
    flex: 1;
    color: white;
        background-color: #f00000;
        
    
}
.plus{
    flex: 1;
    background-color: #f00000;
    color: white;
    
}
.quantie2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}