.main-quantite{
        display: flex;
        box-shadow: 5px 10px white;
        margin-left: 3em;
}
.quantite1{
    width: 5em;
    height: 2em;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;


}
.ok{
    background-color: red;
        color: white;
        border: none;
    
}
.quantite{
    width:2em;
    border: none;
}

.button{
    height: 2em;
    width: 2em;
    background-color: red;
    border: none;
    color: white;
}
