<nav class="navbar navbar-light nav  navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
  </div>
   <div class="container-fluid">
    <a class="navbar-brand" href="#">Burger</a>
  </div>
   <div class="container-fluid">
    <a class="navbar-brand" href="#">Panier</a>
  </div>
   <div class="container-fluid">
    <a class="navbar-brand" href="#">Connexion</a>
  </div>
   <div class="container-fluid">
    <a class="navbar-brand" href="#">s'inscrir</a>
  </div>
</nav>