.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #f00000;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 40em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.iconeCatalogue{
    margin-left: 45em;
    
}
.i{
    margin-right: 1em;
}