<app-header></app-header>
<div class="panier">

    <div class="menu_burger">
        <ng-container>
            <app-panier-burger [burger]="panier?.burgerCommandes"></app-panier-burger>


        </ng-container>
        <ng-container >
            <app-panier-menu [menu]="panier?.menuCommandes"></app-panier-menu>

        </ng-container>
        <div>
            <button type="button" class="btn btn-danger">Livraisson</button>

            <button type="button" class="btn btn-danger">sur place</button>


        </div>
    </div>
    <div class="commander">
        <div>
            <p>Total commande:{{ panier?.montant}}FCFA</p>

            <button type="submit" (click)="commenderclient()"  class="btn btn1 btn-danger">
                Commander</button>

        </div>
    </div>
</div>